html, body {
  margin: auto;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  font: 16px;  
  line-height: 150%;     
}

p { 
  line-height: 150%; 
}

p.question {
  font-style: italic;
  width: 80%; 
  margin:0 auto;
  text-align: justify;
}
     
#CritNormModule {
  width: 70%; 
  margin:0 auto;
}

.bar:hover {
    fill: brown;
}

.barRaw:hover {
    fill: brown;
}

.axis text {
    font: 12px sans-serif;
  }

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.barRaw rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.barRaw text {
  fill: #fff;
  font: 10px sans-serif;
}

.axis path, 
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

path {
stroke: steelblue;
stroke-width: 2;
fill: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  font-family: Verdana, Geneva, sans-serif;
  font: 12px;  
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.slider-width
{
    width: 300px;
}

.input {
    width: 50px;
}

#decisionTbl {
    width: 100%;
    border-collapse: collapse;
}

#decisionTbl th{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

