html, body {
  margin: auto;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  font: 18px;      
}
     
#CritNormModule {
  width: 70%; 
  margin:0 auto;
}

.bar {
    fill: steelblue;
  }
.bar:hover {
    fill: brown;
  }

.axis text {
    font: 12px sans-serif;
  }


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
    display: none;

